In [14]:
import pandas as pd
import sqlite3 # hoi
import contextlib #hoi ik ben jip

In [15]:
sql_connect = sqlite3.connect('../database.sqlite')
cursor = sql_connect.cursor()

In [34]:
leagues = pd.read_sql("""SELECT *
                        FROM League as l
                        JOIN Country as c ON l.country_id == c.id;""", sql_connect)
leagues

       id  country_id                      name     id         name
0       1           1    Belgium Jupiler League      1      Belgium
1    1729        1729    England Premier League   1729      England
2    4769        4769            France Ligue 1   4769       France
3    7809        7809     Germany 1. Bundesliga   7809      Germany
4   10257       10257             Italy Serie A  10257        Italy
5   13274       13274    Netherlands Eredivisie  13274  Netherlands
6   15722       15722        Poland Ekstraklasa  15722       Poland
7   17642       17642  Portugal Liga ZON Sagres  17642     Portugal
8   19694       19694   Scotland Premier League  19694     Scotland
9   21518       21518           Spain LIGA BBVA  21518        Spain
10  24558       24558  Switzerland Super League  24558  Switzerland

In [50]:
detailed_matches = pd.read_sql("""SELECT Match.id, 
                                        Country.name AS country_name, 
                                        League.name AS league_name, 
                                        season, 
                                        stage, 
                                        date,
                                        HT.team_long_name AS  home_team,
                                        AT.team_long_name AS away_team,
                                        home_team_goal, 
                                        away_team_goal                                        
                                FROM Match
                                JOIN Country on Country.id = Match.country_id
                                JOIN League on League.id = Match.league_id
                                LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
                                LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
                                WHERE country_name = 'England'
                                AND season = "2012/2013"
                                AND (home_team = "Manchester United" 
                                        OR away_team = "Manchester United")                                ORDER by date
                                ;""", sql_connect)
detailed_matches

,id,country_name,league_name,season,stage,date,home_team,away_team,home_team_goal,away_team_goal
0,3250,England,England Premier League,2012/2013,1,2012-08-20 00:00:00,Everton,Manchester United,1,0
1,3362,England,England Premier League,2012/2013,2,2012-08-25 00:00:00,Manchester United,Fulham,3,2
2,3473,England,England Premier League,2012/2013,3,2012-09-02 00:00:00,Southampton,Manchester United,2,3
3,3573,England,England Premier League,2012/2013,4,2012-09-15 00:00:00,Manchester United,Wigan Athletic,4,0
4,3580,England,England Premier League,2012/2013,5,2012-09-23 00:00:00,Liverpool,Manchester United,1,2
5,3593,England,England Premier League,2012/2013,6,2012-09-29 00:00:00,Manchester United,Tottenham Hotspur,2,3
6,3602,England,England Premier League,2012/2013,7,2012-10-07 00:00:00,Newcastle United,Manchester United,0,3
7,3611,England,England Premier League,2012/2013,8,2012-10-20 00:00:00,Manchester United,Stoke City,4,2
8,3621,England,England Premier League,2012/2013,9,2012-10-28 00:00:00,Chelsea,Manchester United,2,3
9,3261,England,England Premier League,2012/2013,10,2012-11-03 00:00:00,Manchester United,Arsenal,2,1
10,3270,England,England Premier League,2012/2013,11,2012-11-10 00:00:00,Aston Villa,Manchester United,2,3
11,3284,England,England Premier League,2012/2013,12,2012-11-17 00:00:00,Norwich City,Manchester United,1,0
12,3292,England,England Premier League,2012/2013,13,2012-11-24 00:00:00,Manchester United,Queens Park Rangers,3,1
13,3300,England,England Premier League,2012/2013,14,2012-11-28 00:00:00,Manchester United,West Ham United,1,0
14,3316,England,England Premier League,2012/2013,15,2012-12-01 00:00:00,Reading,Manchester United,3,4
15,3323,England,England Premier League,2012/2013,16,2012-12-09 00:00:00,Manchester City,Manchester United,2,3
16,3331,England,England Premier League,2012/2013,17,2012-12-15 00:00:00,Manchester United,Sunderland,3,1
17,3344,England,England Premier League,2012/2013,18,2012-12-23 00:00:00,Swansea City,Manchester United,1,1
18,3353,England,England Premier League,2012/2013,19,2012-12-26 00:00:00,Manchester United,Newcastle United,4,3
19,3373,England,England Premier League,2012/2013,20,2012-12-29 00:00:00,Manchester United,West Bromwich Albion,2,0
20,3388,England,England Premier League,2012/2013,21,2013-01-01 00:00:00,Wigan Athletic,Manchester United,0,4
21,3393,England,England Premier League,2012/2013,22,2013-01-13 00:00:00,Manchester United,Liverpool,2,1
22,3405,England,England Premier League,2012/2013,23,2013-01-20 00:00:00,Tottenham Hotspur,Manchester United,1,1
23,3411,England,England Premier League,2012/2013,24,2013-01-30 00:00:00,Manchester United,Southampton,2,1
24,3421,England,England Premier League,2012/2013,25,2013-02-02 00:00:00,Fulham,Manchester United,0,1
25,3432,England,England Premier League,2012/2013,26,2013-02-10 00:00:00,Manchester United,Everton,2,0
26,3445,England,England Premier League,2012/2013,27,2013-02-23 00:00:00,Queens Park Rangers,Manchester United,0,2
27,3452,England,England Premier League,2012/2013,28,2013-03-02 00:00:00,Manchester United,Norwich City,4,0
28,3482,England,England Premier League,2012/2013,30,2013-03-16 00:00:00,Manchester United,Reading,1,0
29,3495,England,England Premier League,2012/2013,31,2013-03-30 00:00:00,Sunderland,Manchester United,0,1
30,3501,England,England Premier League,2012/2013,32,2013-04-08 00:00:00,Manchester United,Manchester City,1,2
31,3517,England,England Premier League,2012/2013,33,2013-04-14 00:00:00,Stoke City,Manchester United,0,2
32,3468,England,England Premier League,2012/2013,29,2013-04-17 00:00:00,West Ham United,Manchester United,2,2
33,3521,England,England Premier League,2012/2013,34,2013-04-22 00:00:00,Manchester United,Aston Villa,3,0
34,3529,England,England Premier League,2012/2013,35,2013-04-28 00:00:00,Arsenal,Manchester United,1,1
35,3541,England,England Premier League,2012/2013,36,2013-05-05 00:00:00,Manchester United,Chelsea,0,1
36,3553,England,England Premier League,2012/2013,37,2013-05-12 00:00:00,Manchester United,Swansea City,2,1
37,3566,England,England Premier League,2012/2013,38,2013-05-19 00:00:00,West Bromwich Albion,Manchester United,5,5

***Beschikbare Tabellen***

- Country
- League
- Match
- Player
- Player_Attributes
- Team
- Team_Attributes

In [19]:
query_r = "SELECT * FROM player" # read query van country tabel
query_r = "PRAGMA table_info(player)"

In [20]:
result = cursor.execute(query_r).fetchall()
sql_connect.commit()
df_player = pd.DataFrame(result)
display(result)

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'player_api_id', 'INTEGER', 0, None, 0),
 (2, 'player_name', 'TEXT', 0, None, 0),
 (3, 'player_fifa_api_id', 'INTEGER', 0, None, 0),
 (4, 'birthday', 'TEXT', 0, None, 0),
 (5, 'height', 'INTEGER', 0, None, 0),
 (6, 'weight', 'INTEGER', 0, None, 0)]

In [8]:
df = pd.DataFrame('../database.sqlite')

ValueError: DataFrame constructor not properly called!

In [ ]:
df_player

,0,1,2,3,4,5,6
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176