In [4]:
import pandas as pd
import sqlite3
import contextlib

In [5]:
sql_connect = sqlite3.connect('../database.sqlite')
cursor = sql_connect.cursor()

In [6]:
query_r = "SELECT * FROM country" # read query

In [7]:
result = cursor.execute(query_r).fetchall()
sql_connect.commit()
display(result)

[(1, 'Belgium'),
 (1729, 'England'),
 (4769, 'France'),
 (7809, 'Germany'),
 (10257, 'Italy'),
 (13274, 'Netherlands'),
 (15722, 'Poland'),
 (17642, 'Portugal'),
 (19694, 'Scotland'),
 (21518, 'Spain'),
 (24558, 'Switzerland')]